#vestnikInputSearch{
  width: 50%;
}
input.vestnikSearch{
  margin-left: 10px;
  width: 15px;
}
label.vestnikSearch{
  margin-left: 20px;
}
input#buttonSearch{
  width: 100px;
}
.searchResults td.atr, .searchResults td.eml{
  width: 10%;
}
.searchResults td.org, .searchResults td.txt, .searchResults td.rsw, .searchResults td.kws, .searchResults td.rfs{
  width: 15%;
}
.cbs{
}
.cb1{
  display: inline-block;
  margin: 0 -5px;
}
.gsc-control-cse .gsc-control-cse-en{
  border-color: transparent !important; 
  background-color: transparent !important;
}
input.gsc-search-button-v2{
  padding: 2px 5px !important;
}
input#gsc-i-id1
{
  width: 75% !important;
  position: relative !important;
  top: -6px !important;
  left: -8px !important;
  font-size: 12px !important;
}
td#gs_tti50{
  min-width: 88px !important;
}